<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your flight has been booked!</h1>
    <h2><%= @booking.flight.departure_airport.code %></h2>
  </body>
</html>
