<div class="container">
    <%= render partial: "search_form" %>

    <% @searched_flights.each do |flight| %>
      <% fl_count = @searched_flights.count %>
      <h3><%= "#{fl_count} Flight#{fl_count > 1 ? "s" : ""} Found" %></h3>
    <% end %>

    <%= render partial: "selection_form" %>
</div>
